{%
  set classes = [
    'content-list-item-stacked',
    'arrow__hover--right-small',
  ]
%}

<a {{ attributes.addClass(classes).setAttribute('href', url) }}>
  <h2 class="hide-visually">{{ title }}</h2>

  {% if date or start_time %}
    <div class="content-list-item-stacked__status">
      {{ include('@novel/components/event-status.html.twig', {
        status: status,
        status_value: status_value,
      }, false) }}
    </div>

    <div class="content-list-item-stacked__content">
      <div class="content-list-item-stacked__content__item">
        {{ source(baseIconPath ~ '/collection/icon-pin.svg') }}

        <p class="content-list-item-stacked__location">{{ location }}</p>
      </div>
      <div class="content-list-item-stacked__content__item">
        {{ source(baseIconPath ~ '/collection/icon-event.svg') }}

        <p class="content-list-item-stacked__date">{{ date }}</p>
      </div>
      <div class="content-list-item-stacked__content__item">
        {{ source(baseIconPath ~ '/collection/icon-time.svg') }}

        {% if start_date or end_date %}
          <time class="content-list-item-stacked__time" datetime="{{ datetime_attribute }}">
            {{ start_date }}{% if end_date %} - {{ end_date }}{% endif %}
          </time>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {{ source(baseIconPath ~ '/arrow-ui/icon-arrow-ui-small-right.svg') }}
</a>
